/* Global Styles */

/* General */
html {
  font-size: 16px;
 
}

body {
  font-size: 1.125rem;
 
}

/* Container */
.container {
  width: 1600px;
  max-width: 90%;
  margin: 0 auto;
}

/* color */
.bg-color-black {
  background-color: rgb(0, 0, 0);
}
.bg-color-black-light {
  background-color: rgb(19, 19, 19);
}
.color-white {
  color: white;
}
.color-red {
  color: red;
}
.color-pink {
  color: pink;
}
.color-green {
  color: green;
}

/* margin */
.margin-right-1 {
  margin-right: 1rem;
}
.margin-left-1 {
  margin-left: 1rem;
}
.margin-0-auto {
  margin: 0 auto;
}
.margin-tb {
  margin: 1rem 0;
}
/* pading */
.pading-1rem {
  padding: 1rem 0rem;
}
.pading-1rem-around {
  padding: 1rem;
}
/* border */
.border-bottom {
  border-bottom: 1px solid rgba(255, 255, 255, 0.077);
}
.line-height {
  line-height: 1.5;
}

/* width  */
.width-50 {
  width: 40%;
}

/* height */
.height {
  height: 87.3vh;
}
.height25 {
  height: 25vh;
}

.height-50 {
  height: 89%;
}

/* font size */
.font-size-1 {
  font-size: 1.1rem;
}
.font-size-15 {
  font-size: 1.5rem;
}
.font-size-2 {
  font-size: 3rem;
}
.text-center {
  text-align: center;
}

.text-captilize {
  text-transform: capitalize;
}
.text-uppercase {
  text-transform: uppercase;
}
/* overflow */
.overflow-scroll {
  overflow-y: scroll;
}
.scroll-none::-webkit-scrollbar {
  display: none;
}
/* Anchor Decoration */
a {
  text-decoration: none;
}

/* Image Adjust */
.full-width {
  width: 100%;
  object-fit: cover;
}

/* Positions */
.position-absolute {
  position: absolute;
}

.position-relative {
  position: relative;
}

.position-fixed {
  position: fixed;
}

.position-sticky {
  position: sticky;
}

.z-index-100 {
  z-index: 100;
}

.z-index-50 {
  z-index: 50;
}

.z-index-10 {
  z-index: 10;
}

.z-index-1 {
  z-index: 1;
}

/* Buttons */

.btn {
  display: inline-block;
  border: none;
  outline: none;
  background: none;
  padding: 0.35rem 1rem;
  border-radius: 0.2rem;
  box-sizing: border-box;
}

.btn:hover {
  cursor: pointer;
}

.btn-primary {
  color: purple;
  border: 1px solid purple;
}

.btn-secondary {
  font-size: 1.1rem;
  color: white;
  background-color: rgb(19, 19, 19);
  border: 1px solid rgb(63, 62, 63);
}

.btn-sucess {
  font-size: 1.1rem;
  color: white;
  background-color: black;
  border: 1px solid green;
}
/* Flex */
.flex {
  display: flex;
}

/* Justify Content */
.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

/* Align Items */
.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}

.align-stretch {
  align-items: stretch;
}

.align-baseline {
  align-items: baseline;
}

/* Align Content */
.align-content-start {
  align-content: flex-start;
}

.align-content-end {
  align-content: flex-end;
}

.align-content-center {
  align-content: center;
}

.align-content-stretch {
  align-content: stretch;
}

.align-content-around {
  align-content: space-around;
}

.align-content-between {
  align-content: space-between;
}

/* Flex Wrap */
.flex-wrap-yes {
  flex-wrap: wrap;
}

.flex-wrap-no {
  flex-wrap: nowrap;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

/* Flex Direction */
.flex-direction-column {
  flex-direction: column;
}

.flex-direction-column-reverse {
  flex-direction: column-reverse;
}

.flex-direction-row {
  flex-direction: row;
}

.flex-direction-row-reverse {
  flex-direction: row-reverse;
}

/* Align Self */
.align-self-start {
  align-self: flex-start;
}

.align-self-end {
  align-self: flex-end;
}

.align-self-center {
  align-self: center;
}

.align-self-auto {
  align-self: auto;
}

.align-self-stretch {
  align-self: stretch;
}

.align-self-baseline {
  align-self: baseline;
}

/* Flex basis */

.flex-100 {
  flex: 0 1 100%;
}

.flex-80 {
  flex: 0 1 80%;
}

.flex-75 {
  flex: 0 1 75%;
}

.flex-70 {
  flex: 0 1 70%;
}

.flex-69 {
  flex: 0 1 69%;
}

.flex-60 {
  flex: 0 1 60%;
}

.flex-59 {
  flex: 0 1 59%;
}

.flex-50 {
  flex: 0 1 50%;
}

.flex-48 {
  flex: 0 1 48%;
}

.flex-40 {
  flex: 0 1 40%;
}

.flex-32 {
  flex: 0 1 32%;
}

.flex-30 {
  flex: 0 1 30%;
}

.flex-25 {
  flex: 0 1 25%;
}

.flex-20 {
  flex: 0 1 20%;
}
